* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #fff2db;
  color: #333333;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 25px;
  gap: 50px;
}
.title {
  text-transform: uppercase;
  color: springgreen;
  font-size: 30px;
  font-weight: 700;
}
.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
  gap: 15px;
  height: 350px;
  transition: all 0.3s linear;
  padding: 20px;
  background-color: #ffe5bf;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-title {
  color: springgreen;
  font-size: 18px;
}
.category {
  padding: 5px 15px;
  background-color: springgreen;
  border-radius: 8px;
  color: white;
  font-weight: 600;
}
.description {
  line-height: 1.5;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  border-radius: 10px;
  height: 200px;
  overflow-y: auto;
}
.search {
  width: 100px;
  height: 40px;
  border: 2px solid springgreen;
  border-radius: 10px;
  padding: 0px 15px;
  color: springgreen;
  outline: none;
  text-align: center;
  transition: all 0.3s linear;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
}
.search:focus,
.search:hover {
  width: 200px;
  text-align: left;
}
.search::placeholder {
  color: springgreen;
}
.dark-mode {
  position: absolute;
  top: 45px;
  right: 80px;
  border: 2px solid springgreen;
  border-radius: 8px;
  padding: 3px;
  font-size: 24px;
  background: none;
  cursor: pointer;
  outline: none;
}

body.dark-theme {
  background-color: #222222;
  color: #ffffff;
}
body.dark-theme .card {
  background-color: #333333;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
}
body.dark-theme .description {
  box-shadow: rgba(255, 255, 255, 0.05) 0px 2px 4px 0px inset;
}

@media screen and (max-width: 360px) {
  .card {
    width: 100%;
    gap: 15px;
  }
  .description {
    overflow-y: auto;
  }
}
